<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :title %> <br>
    <%= f.rich_text_area :content %>

    <!-- [...] --> <br>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <!-- [...] --> <br>
    <%= f.button :submit %>
  </div>

<% end %>
