<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand container-email" do %>
      <%= image_tag 'logooo.png' %>  TurismoHorizonte

    <% end %>
    <div class="container-email">
    <%if user_signed_in?%>
      <% current_user.email %>
    <%end%>
    </div>


    <% unless user_signed_in? %>
      <%= link_to new_user_session_path, class:"btn btn-secondary-100 btn-sm user-icon" do %>
        <i class="fa-solid fa-user"></i>
      <%end%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <%if current_user.admin%>
                <li><% link_to "Cambiar logo", images_path, class: "dropdown-item" %></li>
                <li><%= link_to "Crear un nuevo artículo", new_message_path, class: "dropdown-item" %></li>
                <li><%= link_to "Ver y editar artículos", messages_path, class: "dropdown-item" %></li>
                <li><% link_to "Editar pie de página", messages_path, class: "dropdown-item" %></li>
              <%end%>
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
            </ul>
          </li>
          <% @messages.each do |m| %>
            <%if m.title == "Teléfono"%>

              <div class="nav-link footer-contact">
                <a><i class="fa-solid fa-phone"> </i> +56 9 54091962 <i class="fa-solid fa-location-dot"> </i> Garcia Reyes 413 Piso 2, Los Rios, Valdivia.</a>
              </div>

            <%else%>
              <% unless m.title == "Location"%>
              <li class="nav-item">
                <%=link_to "#{m.title.capitalize}", m, class:"nav-link"%>
              </li>
              <%end%>
            <%end%>
          <%end%>

        <% else %>
          <% @messages.each do |m| %>
            <%if m.title == "Teléfono"%>

              <div class="nav-link footer-contact">
                <a href="#"><i class="fa-solid fa-phone"> </i> +56 9 54091962 <i class="fa-solid fa-location-dot"> </i> Garcia Reyes 413 Piso 2, Los Rios, Valdivia.</a>
              </div>

            <%else%>
              <%unless m.title =="Location"%>
                <li class="nav-item">
                  <%=link_to "#{m.title.capitalize}", m, class:"nav-link"%>
                </li>
              <%end%>
            <%end%>
          <%end%>

          <li class="nav-item">
            <%= link_to about_path, class:"nav-link" do %>
              <i class="fa-solid fa-people-group btn btn-secondary-100 btn-sm"></i>
              Nosotros
            <%end%>
          </li>

          <li class="nav-item">
            <% link_to geolocation_path, class:"nav-link" do %>
              <i class="fa-solid fa-location-dot btn btn-secondary-100 btn-sm"></i>
              Geolocation
            <%end%>
          </li>

          <li class="nav-item">
            <%= link_to customized_path, class:"nav-link" do %>
              <i class="fa-solid fa-car-side btn btn-secondary-100 btn-sm"></i>
              Servicios personalizados
            <%end%>
          </li>

        <% end %>

      </ul>
    </div>

  </div>
</div>
